body{
    
    background-image: url(https://phonoteka.org/uploads/posts/2022-01/thumbs/1643268908_60-phonoteka-org-p-pogoda-fon-69.jpg);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size:cover;
}

.weather-app{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 600px;
    margin: 0px auto 30px auto;
    padding: 0px 20px 20px 20px;
    opacity: 0.9;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 5px;
    
}
.weather-app h1 {
    color: rgb(209, 209, 209);
    text-shadow: 3px 3px rgba(0, 0, 0, 0.268);
    font-size: 32px;
    
  }
  .form1 .row{
    padding-left: 20px;
  }



.container {
    display: flex;
    justify-content: center;
  }
.search{
    background-color: #b0a09b5e;
    border: 2px solid rgb(185, 185, 185);
    border-radius: 14px;
    height: 35px;
    width: 100%;
    padding: 0 40px;
    margin-right: 40px;
    background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/039/831/original/sound.png?1657298218);
    background-position: 90%;
    background-repeat: no-repeat;
    background-size: 30px;
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.268);
}
.search::placeholder{
    font-style: italic;
    font-size: 18px;
    color: rgb(41, 40, 40);
    
}
.submit {
    box-shadow: 4px 4px 5px 3px rgba(0, 0, 0, 0.268);
    border: 2px solid rgb(185, 185, 185);
    background-color: #b0a09b5e;
    background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/039/830/original/search.png?1657298154);
    background-size: 30%;
    height: 35px;
    width: 70px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
  }
  #current {
   
    background-image: none;
    padding-left: 5px;
    color: rgb(41, 40, 40);
    cursor: pointer;
  }



  


  
 
  @media (min-width: 994px){
    .week-forecast .row{
      margin-left: 20px;
    }
  }
  @media (max-width: 444px){
    .city-date-main .col-1{
      display: none;
    }
    .city-date-main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
     
    }
    .iconAndDiscr{
      margin: 0 auto;
      justify-content: center;
      text-align: center;
      width: 200px;
    }
    .weatherdate2colmn{
      margin: 0 auto;
      justify-content: center;
      text-align: center;
      width: 100%;
    }
    .submit{
      width: 50px;
    }
  }