
footer{
    max-width: 600px;
    margin: 0 auto;
    
}

.footertxt{
    color:#212529;
   
}
a{
    text-decoration: none;
}
 
.footerlnk{
    color: rgba(185, 185, 185, 0.123);
    text-decoration: underline;
    text-decoration-color: rgba(95, 95, 95, 0.87);
    
}
.socials{
    text-align: center;
}
.socials p{
    
    color: #212529;
  
}
.socials img{
    width: 32px;
    opacity: 80%;
    margin: 0px 4px;
    
}
